.actorCard {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.actorNumber,
.actorName,
.actorBirthYear,
.actorGender,
.actorMass {
  padding: 5px;
}

.actorNumber {
  font-weight: bold;
}

.actorName {
  font-weight: bold;
}

.actorName,
.actorBirthYear,
.actorGender,
.actorMass {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
